<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um problema com sua entrega e ela foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Descrição do problema: </strong> {{ description }} <br />
  <strong>ID da entrega: </strong> {{delivery_id}} <br>
  <strong>Nome do produto: </strong> {{product_name}}
</p>
